<div class="top">
		<nav>
				<ul>
					<li><a href="/"><span class="fas fa-home"></span></a></li>
					<li><a href="/about.html">About me</a></li>
					<li><a href="/books.html">Books</a></li>
					<!--<li><a href="/code.html">Code</a></li>-->
					<li><a href="/stuff.html">Stuff</a></li>
					<li><a href="https://github.com/petru"><span class="fab fa-github"></span></a></li>
					<li><a href="https://en.wikipedia.org/wiki/Special:Contributions/PetruM" title="Wikipedia Contributions"><span class="fab fa-wikipedia-w"></span></a></li>
					<li><a href="https://instagram.com/petrumadar"><span class="fab fa-instagram"></span></a></li>
					<li><a href="https://ro.linkedin.com/in/petrumadar"><span class="fab fa-linkedin"></span></a></li>
					<li><a href="https://twitter.com/PetruMadar"><span class="fab fa-twitter" style="color: #55acee;"></span></a></li>
				</ul>
			</nav>
</div>
<aside class="logo">
	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
</aside>
